.leaflet-control-layers-inline {
  margin: 0;
  padding: 0;
}

.leaflet-control-layers-inline.leaflet-control-layers {
  border: transparent;
  background-color: transparent;
}

.leaflet-control-layers-inline .leaflet-control-layers-base {
  margin: 0;
  padding: 0;
}

.leaflet-control-layers-inline .leaflet-control-layers-base input {
  display: none;
}

.leaflet-control-layers-inline .leaflet-control-layers-base span {
  display: inline-block;
  padding: 9.5px;
  font-size: 15px;
  font-weight: 600;
}

.leaflet-control-layers-inline .leaflet-control-layers-base label {
  display: inline-block;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  border-right: none;
}

.leaflet-control-layers-inline .leaflet-control-layers-base label:hover {
  background-color: #f4f4f4;
}

.leaflet-control-layers-inline .leaflet-control-layers-base label:first-of-type {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.leaflet-control-layers-inline .leaflet-control-layers-base label:last-of-type {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.leaflet-control-layers-inline .leaflet-control-layers-base input+span {
  color: #565656;
}

.leaflet-control-layers-inline .leaflet-control-layers-base input:checked+span {
  font-weight: 700;
  color: inherit;
}
